@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'shoreline';
  src: url('./assets/fonts/Shorelines-Script-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'nokora';
  src: url('./assets/fonts/Nokora-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@layer components {
  .sparkle {
    position: absolute;
    transform: translateY(200%);
    width: 3px;
    height: 220px;
    opacity: 80%;
    border-radius: 500px;
    background: linear-gradient(
      180deg,
      #9e77ed 0%,
      rgba(158, 119, 237, 0) 100%
    );
    z-index: 3;
    rotate: 180deg;
    animation-name: sparkleAnimation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes sparkleAnimation {
    0% {
      transform: translateY(200%);
    }
    25% {
      transform: translateY(-20%);
    }
    50%,
    100% {
      transform: translateY(-350%);
    }
  }
}
